{% extends 'base.html.twig' %}

{% block title %}Gérer les clients{% endblock %}

{% block body %}
    <h1>Liste des clients</h1>

    <ul>
        {% for customer in customers %}
            <li>{{ customer.name }}</li>
        {% endfor %}
    </ul>
{% endblock %}
