.header-wrapper-flex{
    display: flex;
    justify-content: center;
}
.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 80%;
    margin-left: 150px;
}

.logo {
    width: 150px;
    position: absolute;
}

.search-bar{
    font-size: 18px;
    margin-left: 100px;
}

.cat-search-input{
    width: 250px;
    height: 25px;
}
.cat-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cat-table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

.cat-table th, .cat-table td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

.cat-table th {
    background-color: #4CAF50;
    color: white;
}

.cat-table td {
    width: auto;
}

.cat-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.cat-image {
    width: 200px;
    height: auto;
}

.cat-btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

}

.cat-btn {
    font-size: 16px;
    width: 150px;
    padding: 8px;
    text-decoration: none;
    color: #fff;
    background-color: #4CAF50;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
}

.cat-btn-delete {
    font-size: 16px;
    width: 150px;
    padding: 8px;
    text-decoration: none;
    color: #fff;
    background-color: red;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
}

.add-cat-btn-wrapper {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.btn {
    font-size: 24px;
    width: 150px;
    padding: 8px;
    text-decoration: none;
    color: #fff;
    background-color: #4CAF50;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .cat-table {
        width: 100%;
    }

    .cat-table th, .cat-table td {
        text-align: left;
    }

    .cat-img-wrapper {
        height: 100px;
    }

    .cat-image {
        width: 80px;
    }
}