.header-wrapper-flex {
    display: flex;
    justify-content: center;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 80%;

    margin-left: 150px;
}

.logo {
    width: 150px;
    position: absolute;
}

.btn {
    font-size: 24px;
    width: 150px;
    padding: 8px;
    text-decoration: none;
    color: #fff;
    background-color: #4CAF50;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
}

.btn:hover{
    background-color: #3b8a3e;
}
.search-bar {
    font-size: 18px;
    margin-left: 100px;
}

.customer-search-input {
    width: 250px;
    height: 25px;
}

.customer-btn-delete {
    font-size: 16px;
    width: 150px;
    padding: 8px;
    text-decoration: none;
    background-color: red;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    color: #fff;
}

.customer-btn-add {
    font-size: 16px;
    width: 150px;
    padding: 8px;
    text-decoration: none;
    background-color: #4CAF50;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    color: #fff;
}
.customer-btn-add:hover{
    background-color: #3b8a3e;
}
.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.customer-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.customer-table th,
.customer-table td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    width: auto;
}

.customer-table th {
    background-color: #4CAF50;
    color: white;
}

.customer-table a {
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    .customer-table {
        width: 100%;
    }
}