.header-wrapper-flex {
    display: flex;
    justify-content: center;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 80%;
    margin-left: 150px;
}

.logo {
    width: 150px;
    position: absolute;
}

.search-bar {
    font-size: 18px;
    margin-left: 100px;
}

.meet-search-input {
    width: 250px;
    height: 25px;
}

.meet-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meet-table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

.meet-table th, .meet-table td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

.meet-table th {
    background-color: #4CAF50;
    color: white;
}

.meet-table td {
    width: auto;
}

.meet-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.meet-image {
    width: 200px;
    height: auto;
}

.meet-btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.meet-btn {
    font-size: 16px;
    width: 150px;
    padding: 8px;
    text-decoration: none;
    color: #fff;
    background-color: #4CAF50;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
}

.meet-btn-delete {
    font-size: 16px;
    width: 150px;
    padding: 8px;
    text-decoration: none;
    color: #fff;
    background-color: red;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
}

.meet-btn-add {
    font-size: 16px;
    width: 150px;
    padding: 8px;
    text-decoration: none;
    color: #fff;
    background-color: #4CAF50;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
}

.add-meet-btn-wrapper {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.btn {
    font-size: 24px;
    width: 150px;
    padding: 8px;
    text-decoration: none;
    color: #fff;
    background-color: #4CAF50;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .meet-table {
        width: 100%;
    }

    .meet-table th, .meet-table td {
        text-align: left;
    }

    .meet-img-wrapper {
        height: 100px;
    }

    .meet-image {
        width: 80px;
    }
}
